<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,92},{170,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,5}}</string>
                <key>sourceSize</key>
                <string>{170,5}</string>
            </dict>
            <key>login_tencent.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,92},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>login_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,92},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>login_weibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,92},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pop_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,194}}</string>
                <key>sourceSize</key>
                <string>{532,194}</string>
            </dict>
            <key>pop_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{266,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,88}}</string>
                <key>sourceSize</key>
                <string>{266,88}</string>
            </dict>
            <key>pop_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{266,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,88}}</string>
                <key>sourceSize</key>
                <string>{266,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.pvr.ccz</string>
            <key>size</key>
            <string>{1215,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dea0c83a3b041237a9c5739d0748e374:1/1$</string>
            <key>textureFileName</key>
            <string>texture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
